@model TrackIt.ViewModels.TicketsListViewModel
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />


<div class="d-flex flex-row justify-content-between">
    <button type="button" class="btn btn-dark btn-sm" onclick="location.href='@Url.Action("Index", "Projects")'"> <i class="fas fa-arrow-left"></i> Back To Projects</button>
    <h2 class="text-muted">@Model.ProjectName</h2>
    <button type="button" class="btn btn-success btn-sm" onclick="location.href='@Url.Action("New", "Tickets")'">New Ticket <i class="fas fa-plus-circle"></i></button>
</div>
<hr class="my-4">




<table id="myTable" class="table table-hover nowrap">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">Priority</th>
            <th scope="col">Ticket Type</th>
            <th scope="col">Owner</th>
            <th scope="col">Due Date</th>
            <th scope="col">Date Created</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model.Tickets)
        {

            string fullName = "";
            string dateDue = "";

            if (t.Assignee != null)
            {
                fullName = t.Assignee.FirstName + " " + t.Assignee.LastName;

            }

            // check for date due value
            if (t.DateDue.HasValue)
            {
                dateDue = t.DateDue.Value.ToString("MM-dd-yyyy");

            }


            <tr class="ticket-row" data-ticketid="@t.Id">
                <td>@t.Id</td>
                <td>@t.Title</td>
                <td>@t.Status.Name</td>
                <td>@t.Priority.Name</td>
                <td>@t.TicketType.Name</td>
                <td>@fullName</td>
                <td>
                    @dateDue
                </td>
                <td>@t.DateCreated.ToShortDateString()</td>

            </tr>
        }


    </tbody>
</table>



@section scripts{
    <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#myTable').DataTable({
            });

            $(".ticket-row").click(function () {
                var ticketId = $(this).data("ticketid")
                window.location = "/tickets/details/" + ticketId;
            });
        });
    </script>

}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
