@model TrackIt.ViewModels.TicketsListViewModel
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.ProjectName</h2>


<table id="myTable" class="table table-hover nowrap">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">Priority</th>
            <th scope="col">Ticket Type</th>
            <th scope="col">Owner</th>
            <th scope="col">Due Date</th>
            <th scope="col">Date Created</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model.Tickets)
        {

            string fullName = "";

            if (t.Assignee != null) {
                fullName = t.Assignee.FirstName + " " + t.Assignee.LastName;

            }


            <tr class="ticket-row" data-ticketid="@t.Id">
                <td>@t.Id</td>
                <td>@t.Title</td>
                <td>@t.Status.Name</td>
                <td>@t.Priority.Name</td>
                <td>@t.TicketType.Name</td>
                <td>@fullName</td>
                <td>@t.DateDue.Value.ToString("MM-dd-yyyy")</td>
                <td>@t.DateCreated.ToShortDateString()</td>

            </tr>
        }


    </tbody>
</table>



@section scripts{
    <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#myTable').DataTable({
            });

            $(".ticket-row").click(function () {
                var ticketId = $(this).data("ticketid")
                window.location = "/tickets/details/" + ticketId;
            });
        });
    </script>

}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
