@model TrackIt.ViewModels.TicketDetailsViewModel

@{
    ViewBag.Title = "TicketDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

<div class="d-flex flex-row justify-content-between">

    <button type="button" class="btn btn-outline-primary" onclick="location.href='@Url.Action("GetTicketsByProject", "Tickets", new { projectId = Model.Ticket.ProjectId})'">Back to List</button>
    <h2 style="">@Model.Ticket.Title</h2>
    <button type="button" class="btn btn-outline-info" onclick="location.href='@Url.Action("Edit", "Tickets", new { id = Model.Ticket.Id})'">Edit <i class="far fa-edit"></i></button>


</div>
<hr class="my-4">

<div class="d-flex flex-row justify-content-between">

    <div class="d-flex flex-row pt-4">
        <h5>Type: </h5>
        <p class="pl-2">@Model.Ticket.TicketType.Name</p>
    </div>
    <div class="d-flex flex-row pt-4">
        <h5>Date Created: </h5>
        <p class="pl-2">@Model.Ticket.DateCreated.ToShortDateString()</p>
    </div>
    <div class="d-flex flex-row pt-4">
        <h5>Date Due: </h5>
        <p class="pl-2">@Model.Ticket.DateDue.Value.ToString("MM-dd-yyyy")</p>
    </div>

</div>

<div class="d-flex flex-row justify-content-between">

    <div class="d-flex flex-row pt-4">
        <h5>Priority: </h5>
        <p id="priority" class="pl-2 text-light"><span class="badge rounded-pill " data-priority=@Model.Ticket.Priority.Name>@Model.Ticket.Priority.Name</span></p>
    </div>
    <div class="d-flex flex-row pt-4">
        <h5>Status: </h5>
        <p class="pl-2">@Model.Ticket.Status.Name</p>
    </div>
    <div class="d-flex flex-row pt-4">
        <h5>Owner: </h5>
        @{
            string fullName = "UNASSIGNED";
            if (Model.Ticket.Assignee != null)
            {
                fullName = Model.Ticket.Assignee.FullName;
            }
        }
        <p class="pl-2">@fullName</p>
    </div>

</div>



<div class="d-flex flex-column mt-5">
    <h5>Description: </h5>
    <p>@Model.Ticket.Description</p>
</div>

<div class="d-flex flex-column pt-4" style="border-top: 1px solid black">
    <h4>Comments </h4>

    <!-- Comment Form-->
    @using (Html.BeginForm("Save", "Comments"))
    {

        <div class="form-group">
            @Html.TextAreaFor(c => c.Comment.Content, new { @class = "form-control"})
            @Html.ValidationMessageFor(c => c.Comment.Content)
        </div>

        @Html.HiddenFor(c => c.Comment.Id)
        @Html.HiddenFor(c => c.Comment.AuthorId)
        @Html.HiddenFor(c => c.Comment.TicketId)
        @Html.AntiForgeryToken()
        <button id="submit-comment" type="submit" class="btn btn-primary">Add Comment</button>

    }

    @if (Model.TicketComments.Count() == 0)
    {
        <p class="text-muted text-center">No Comments</p>
    }
    else
    {

        foreach (var comment in Model.TicketComments)
        {
            <div class="jumbotron">
                <div class="d-flex flex-row justify-content-between">
                    <p>@comment.Author.FullName <<a href="mailto:webmaster@example.com"><span class="text-muted">@comment.Author.Email</span></a>></p>
                    <p>@comment.DateCreated.ToLongDateString()</p>
                </div>
                <hr class="my-3">
                <div class="d-flex flex-row">
                    <p>@comment.Content</p>
                </div>
            </div>
        }


    }





</div>

@section scripts{


    <script>

        // SET BADGE COLOR
        var badge = $(".badge");
        var priority = badge.data("priority");

        if (priority == "High") {
            badge.addClass("bg-danger");
        }

        if (priority == "Normal") {
            badge.addClass("bg-warning");
        }

        if (priority == "Low") {
            badge.addClass("bg-info");
        }


    </script>


    @Scripts.Render("~/bundles/jqueryval")


    <script>
        $("#submit-comment").click(function () {
            
            setTimeout(function () {
                $("textarea").removeClass("input-validation-error");
                $(".field-validation-error").removeClass("field-validation-error");
                $("#Comment_Content-error").remove();
            }, 5000);
        })
    </script>

}