@model TrackIt.ViewModels.TicketFormViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Save", "Tickets"))
{

    <div class="form-group">
        @Html.LabelFor(t => t.Ticket.Title)
        @Html.TextBoxFor(t => t.Ticket.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.Ticket.Title)
    </div>

    <div class="form-group">
        @Html.LabelFor(t => t.Ticket.Description)
        @Html.TextAreaFor(t => t.Ticket.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.Ticket.Description)
    </div>

    <div class="form-group">
        @Html.LabelFor(t => t.Ticket.AssigneeId)
        @Html.DropDownListFor(t => t.Ticket.AssigneeId, new SelectList(Model.Owners, "Id", "UserName"), "Select Owner", new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.Ticket.AssigneeId)
    </div>

    <div class="form-group">
        @Html.LabelFor(t => t.Ticket.TicketTypeId)
        @Html.DropDownListFor(t => t.Ticket.TicketTypeId, new SelectList(Model.TicketTypes, "Id", "Name"), "Select Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.Ticket.TicketTypeId)
    </div>

    <div class="form-group">
        @Html.LabelFor(t => t.Ticket.StatusId)
        @Html.DropDownListFor(t => t.Ticket.StatusId, new SelectList(Model.Status, "Id", "Name"), "Select Status", new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.Ticket.StatusId)
    </div>

    <div class="form-group">
        @Html.LabelFor(t => t.Ticket.PriorityId)
        @Html.DropDownListFor(t => t.Ticket.PriorityId, new SelectList(Model.Priorities, "Id", "Name"), "Select Priority", new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.Ticket.PriorityId)
    </div>

    <div class="form-group">
        @Html.LabelFor(t => t.Ticket.ProjectId)
        @Html.DropDownListFor(t => t.Ticket.ProjectId, new SelectList(Model.Projects, "Id", "Name"), "Select Project", new { @class = "form-control" })
        @Html.ValidationMessageFor(t => t.Ticket.ProjectId)
    </div>




    @Html.HiddenFor(t => t.Ticket.Title)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}
