@model TrackIt.ViewModels.ProjectListViewModel
@using TrackIt.Models;

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

<div class="d-flex flex-row justify-content-between">
    <h2>Projects</h2>
</div>
<hr class="my-4">


<div class="d-flex flex-column" ">
    @foreach (var project in Model.Projects)
    {
        // Show Projects that are NOT OnHold or NOT Completed
        if (!project.ProjectStatus.Name.Equals(Utilities.ProjectStatus.OnHold) && !project.ProjectStatus.Name.Equals(Utilities.ProjectStatus.Completed))
        {
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3">
                        <p><span id="ticket-status">Status: </span>@project.ProjectStatus.Name</p>
                        <h5 class="card-title text-center">@project.Name</h5>
                        <div></div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div><p>Open: @Model.TicketStats[project.Id]["Open"]</p> </div>
                        <div><p>In Progress: @Model.TicketStats[project.Id]["In Progress"]</p> </div>
                        <div><p>Closed: @Model.TicketStats[project.Id]["Closed"]</p> </div>
                        <div><p>Resolved: @Model.TicketStats[project.Id]["Resolved"]</p></div>
                    </div>
                    <div class="d-flex justify-content-around">
                        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("GetTicketsByProject", "Tickets", new { projectId = project.Id})'">Open Project <i class="far fa-folder-open"></i> </button>
                    </div>
                </div>
            </div>
            <br />
        }

    }
</div>




